[buildout]
develop = .
parts =
    coverage
    py
    test


[coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/sh
    ./bin/test --coverage ${buildout:directory}/coverage -v --auto-progress "$@"
output = ${buildout:directory}/bin/coverage
mode = 755


[py]
recipe = zc.recipe.egg
interpreter = py
eggs = ${test:eggs}


[test]
recipe = zc.recipe.testrunner
eggs =
    plumber [test]
defaults = ['--auto-progress']
